body{
    font-family: Montserrat!important;
}
.hr{
    height: 1.1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
@media (max-width:767px){
    .divider {
          height: 1.1px;
          margin: 9px 0;
          overflow: hidden;
          background-color: #e5e5e5;
      }
}

.card-header{
    color: white;
    text-transform: uppercase;
    background-color: #17a2b8;
}